includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - tests/

    # Lowest: 1 - Highest: 9
    level: 9

    ignoreErrors:
        - '#Call to an undefined method Mockery\\ExpectationInterface.*#'
