includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - tests/

    # Lowest: 1 - Highest: 9
    level: 9

    ignoreErrors:
        - '#Call to an undefined method Mockery\\ExpectationInterface.*#'

        - '#Method .+ has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types: TModel#'
        - '#Method .+ return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types: TModel#'
